---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
- apiGroups:
  - migration.dcnlab.com
  resources:
  - checkpointbackups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - training.training.dcnlab.com
  resources:
  - instancetemplates
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - training.training.dcnlab.com
  resources:
  - provisionedinstances
  - spotinstancejobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - training.training.dcnlab.com
  resources:
  - provisionedinstances/finalizers
  - spotinstancejobs/finalizers
  verbs:
  - update
- apiGroups:
  - training.training.dcnlab.com
  resources:
  - provisionedinstances/status
  - spotinstancejobs/status
  verbs:
  - get
  - patch
  - update
